* {
    border: 2px;
    border-style: solid;
    border-color: red;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.navcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Top Nav */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    height: 60px;
}

.homelinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
}

.navlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-right: 25px;
    gap: 25px;
}

/* Lower Bar */
.navheader {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding: 20px;
    background-color: lightgray;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.image-content {
    flex-shrink: 0;
}

button {
    border: none;
    border-radius: 8px;
    background: #398ef0;
    padding: 8px 16px;
    color: white;
    margin: 5px;
}

img {
    width: 300px;
    height: auto;
}

/* Mid Section */
.midcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.content-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.contentboxes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contentboxes {
    text-align: center;
    flex: 1;
    min-width: 400px;
}

.contentboxes img {
    width: 70%;
    height: auto;
    max-width: 200px;
}


