
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.navcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Top Nav */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    height: 60px;
}

.homelinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
}

.navlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    padding-right: 25px;
    gap: 25px;
}

/* Lower Bar */
.navheader {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(214, 195, 155);
    justify-content: space-between;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.text-content {
    flex: 1;
    margin-right: 20px;
    padding-left: 200px;
    box-sizing: border-box;
}

.image-content {
    flex-shrink: 0;
    margin-left: 50px;
    padding-right: 200px;
    box-sizing: border-box;
}

button {
    border: none;
    border-radius: 8px;
    background: #398ef0;
    padding: 8px 16px;
    color: white;
    margin: 5px;
    font-size: 25px;
}

img {
    width: 300px;
    height: auto;
}

/* Mid Section */
.midcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.content-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.contentboxes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contentboxes {
    text-align: center;
    flex: 1;
    min-width: 400px;
}

.contentboxes img {
    width: 70%;
    height: auto;
    max-width: 200px;
}

.testimonial-container {
    background-color: #E5E7EB;
}

.test-text {
    font-size: 20px;
    font-style: italic;
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 10px;
}

.test-author {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: 25%;/
}

/* Call to Action Section */

.action-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: rgb(252, 198, 82);
    border-radius: 18px;
    width: 80%; 
    max-width: 1200px; 
    box-sizing: border-box; 
    gap: 20px;
}

.action-text {
    flex: 1; 
    margin-right: 20px;
}

h3 {
    font-size: 28px;
    margin: 0;
    text-align: left; 
}

.action-message-text {
    font-size: 15px;
    font-weight: bold;
    text-align: left; 
}

.actionbuttons {
    border: none;
    border-radius: 8px;
    background: #e44b37;
    padding: 10px 20px;
    color: white;
    text-align: center;
    cursor: pointer; 
}

.bottom-nav {
    background-color: #1F2937;
}

.bottom-nav p {
    color: white;
}